.hero {
	.hero-h {
		animation: glitch 1s linear infinite;
	}

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

@keyframes glitch{
	2%,64%{
	  transform: translate(2px,0) skew(0deg);
	}
	4%,60%{
	  transform: translate(-2px,0) skew(0deg);
	}
	62%{
	  transform: translate(0,0) skew(5deg); 
	}
  }

// -----
$card-transition-time: 0.5s;

.card {
   perspective: 600px;
   position: relative;
   font-family: monospace;
   
   &.is-switched {
      .card__wrapper {
         animation: rotate $card-transition-time linear both;
      }
   }
}
.card__wrapper {
	transform-style: preserve-3d;
	animation: rotate-inverse $card-transition-time linear both;
}

.card__side {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&.is-active {
		position: static;
	}
}


.card__side--back {
	transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}

// ignore

* {
   box-sizing: border-box;
}

// body {
//    background-color: #5a5a5a;
//    text-align: center;
//    padding: 1.5rem;
// }

// h1, h2 {
//    margin: 0;
// }

.card {
//    margin: 2rem auto;
   width: 1100px;
   position: relative;
   right: 110px;
//    max-width: 900px;
}

.card__side {
   padding: 1em;
   border-radius: 5px;
   color: white;
//    background-color: #330066;
}

.card__side--back {
//    background-color: #400080;
}

.title {
   color: #fff;
}
// --------

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
